{% extends 'base.html' %}
{% block title %}chatbot{% endblock title %}
{% block content %}
{% load static %}
<h1>Ask a Question  <img src="{% static 'chatbot/OPENAI.png'   %}" style="float:right;" alt="My image" width="150" height="150"></h1>
<div class="badge bg-secondary text-wrap" style="width: 6rem;">
    Active User 
</div> 
<div class="badge bg-primary text-wrap" style="width: 6rem;">
{{username}} 
</div> 

<p class="text-muted ">[Note- The chatbot may give some error messages as API is still in progress]</p>
<br>

{% if prompt %}
<div>
    <img src="{{profile.avatar.url}}" style="float:left;" alt = "my-profile" class ="avatar-sm">
    <h6 > {{prompt|safe}}</h6>
</div> 
{% endif %}

<br>

<div class="card" style="background-color: #f1f1f1;">
    <div class="card-body">
        
    {% if response %}
    {{response|safe}}
    {% else %}
    <p class="text-muted ">your answer  will be shown here...</p>
    {% endif %}
    </div>
    
</div> 


<br>
<form  method="post">
{% csrf_token %}
    <div class="card mb-3 ">
        
        <textarea  input type="text" class="form-control " name="user_input" rows="3" autocomplete="off"  placeholder="ex: How to improve my sales data?? 
ex: Tell me about this project??"
          rows="3" cols="30"></textarea>
    </div>
        <button type="submit" class="btn btn-dark ">
            {% if response %} Ask Again{% else %} Ask Your Query{% endif %}
        </button>
</form>
<br>
    
{% endblock content %}
