{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}

my profile

{% endblock title %}

{% block content %}

    {% if confirm %}
        <div class="alert alert-primary" role="alert">
        Profile has been updated!
        </div>
    {% endif %}

        <div class= "text-center">
            <img src="{{profile.avatar.url}}" alt = "my-profile" class ="avatar-big">
        </div>
    <br>

    <form action = ""  method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    {% if confirm %}
    {{form|crispy}}
    {% else %}
    <p class="font-monospace">Username</p>
    <div class="card">
        <div class="card-body">
          {{profile.user}}
        </div>
    </div>
    <br>
    <p class="font-monospace">Name</p>
    <div class="card">
        <div class="card-body">
          {{profile.user.first_name}} {{profile.user.last_name}}
        </div>
    </div>
      <br>
      {% comment %} bio {% endcomment %}
      <p class="font-monospace">Bio</p>
    <div class="card">
        <div class="card-body">
        
          {{profile.bio}}
        </div>
      </div>
    {% endif %}
    {% comment %} {{form|crispy}} {% endcomment %}
    
    {% if update %}
    <a class="btn btn-primary mt-3" href="edit" role="button">Update</a>
    
    {% endif %}
    </form>    

{% endblock content %}


