{% load static %}


{% url 'sales:home' as path_to_home %}
{% url 'sales:list' as path_to_sales %}
{% url 'reports:from-file' as path_to_from_files %}
{% url 'reports:main' as path_to_reports %}
{% url 'chatbot:chatbot' as path_to_chatbot %}
{% url 'products:my_products' as path_to_product %}
{% url 'admin:index'  as path_to_admin %}

{% comment %} now for dropdown |profiles and Logout {% endcomment %}
{% url 'profiles:my' as path_to_my_profile %}


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; font-family: Poppins-Bold;">
  <div class="container-fluid">
    <a class="navbar-brand" href=""><img src="{% static 'favicon.ico' %}" class="logo-sm"></a>
{% comment %}     
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> {% endcomment %}
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  ">
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_home%}active{% endif %}" href="{{path_to_home}} ">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_sales%}active{% endif %}" href="{{path_to_sales}}">Sales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_from_files%}active{% endif %}" href="{{path_to_from_files}}">Add CSV Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_reports%}active{% endif %}" href="{{path_to_reports}}">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_chatbot%}active{% endif %}" href="{{path_to_chatbot}}">Chatbot <i class="bi bi-chat"></i></a>
        </li>
       
        
      </ul>
      {% if request.user.is_authenticated %}
      <div class="nav-item dropdown ms-auto">
        <div class="nav-link dropdown-toggle " id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{request.user.profile.avatar.url}}" class="avatar-sm">&nbsp;{{request.user}}
        </div>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item {% if request.path == path_to_my_profile%}active{% endif %}" href="{{path_to_my_profile}}">Profile  <i class="bi bi-person-circle"></i></a></li>
          <li><a class="dropdown-item {% if request.path == path_to_product%}active{% endif %}" href="{{path_to_product}}">Product List  <i class="bi bi-view-list"></i></a></li>
          <li><a class="dropdown-item {% if request.path == path_to_admin %}active {% endif %}" href="{{path_to_admin}}">Admin</a></li>
          <li><a class="dropdown-item" href="/logout">Logout <i class="bi bi-box-arrow-right"></i></a></li>
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</nav>